.btn{
    background-color: #009344;
    color: #fff;
    padding: 24px 77px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn:hover{
   opacity: 0.6;
}

.btn:active{
    opacity: 0.8;
}

.button{
    padding: 10px 40px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #009344;
    outline: none;
    margin-top: 22px;
}

.button:hover{
    opacity: 0.6;
}

.button:active{
    opacity: 0.8;
}