.wedeliver {
  margin: 0;
  padding-top: 224px;

  &__heading {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-align: start;
  }

  &__list {
    list-style: none;
    padding: 95px 0px 0px 0px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__list-item {
    width: 375px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #009344;
    padding: 0px 20px 20px 20px;
    color: #fff;
    margin-bottom: 85px;
  }

  &__list-item--box {
    padding: 14px;
  }

  &__list-item--box_title {
    margin: 0;
    padding-top: 13px;
  }

  &__list-item--box_desc {
    margin: 0;
    padding-top: 15px;
  }

  &__list-item--img {
    width: 306px !important;
    min-height: 247px !important;
    max-height: 247px !important;
  }

  &__list-item--image {
    padding-bottom: 44px;
  }

  &__list-item--imgs {
    padding-bottom: 20px;
  }

  @media screen and (max-width: 769px) {
    &__list-item {
      width: 355px;
      padding: 0px 15px 15px 15px;
      color: #fff;
      margin-bottom: 75px;
    }
  }
}

@media screen and (max-width: 769px) {
  .wedeliver {
    padding-top: 90px;
  }
}
